# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=httm

# Camera (0 for default webcam, or RTSP URL/video file path)
CAMERA_INDEX=0

# ===== DroidCam =====
DROIDCAM_ENABLED=true
DROIDCAM_MODE=ip          # "virtual" hoặc "ip"
DROIDCAM_INDEX=1               # Index của DroidCam Virtual Camera
DROIDCAM_URL=http://192.168.1.3:4747/video   # chỉ dùng khi MODE=ip

# AI Model
MODEL_PATH=../ai/eye_detection/models/face_landmarker.task

# EAR Threshold
EAR_THRESHOLD=0.10